{% extends "base_generic.html" %}

{% block content %}
<h1>SisTrack Compliance Tracking Portal</h1>

<p>Number of safety devices = <strong>{{ devcount }}</strong></p>
<p>Number of IPL's = <strong>{{ ipl_count }}</strong></p>
<p>Number of documents = <strong>{{ doc_count }}</strong></p>
<p>Number of interlocks = <strong>{{ interlock_count }}</strong></p>
<p>Number of locations = <strong>{{ location_count }}</strong></p>
<p>Number of inspection records = <strong>{{ test_count }}</strong></p>
<p>Devices tested this month = <strong>{{ testedthismonth }}</strong></p>
<p>Devices tested this year = <strong>{{ testedthisyear }}</strong></p>
<p>Number of failed tests = <strong>{{ failedcount }}</strong></p>


<p>You have visited this page {{ num_visits }} {% if num_visits == 1 %} time {% else %} times {% endif %}</p>
{% endblock %}
